.main-page {
  background-color: #1c1c1c;
}

form.sign-up-form {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: auto;
  padding-bottom: 20vh;
  color: white;
}

form.sign-up-form h3 {
  font-size: 2rem;
}

form.sign-up-form button {
  color: #222;
  margin-top: 8px;
}

form.sign-up-form label {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 4px;
  font-size: 1.25rem;
  text-align: start;
}

form.sign-up-form input {
  padding: 8px 16px;
  font-size: 1.25rem;
  border-radius: 4px;
  border: 1px solid #5d5d5d;
}
