* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: unset;
}

.main-page {
  display: flex;
  background-color: #424242;
  height: 100%;
  width: 100%;
}

.main-page > input[type="file"] {
  display: none;
}

.sidebar {
  display: flex;
  flex-flow: column;
  width: 17rem;
  background-color: #212121;
  gap: 1rem;
  padding: 16px;
}

.new-chat {
  background-color: #424242;
  color: white;
  width: 100%;
  height: 4.5%;
}

.delete {
  background-color: transparent;
  border: 1px solid #424242;
  padding: 0.5rem;
  color: #9eb293;
}

.logout {
    background-color: #424242;
    position: absolute;
    color: white;
    width: 12.5%;
    height: 4.5%;
    bottom: 2%;
}

.sidebar > button {
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 0.5rem;
  gap: 16px;
  border-radius: 4px;
  font-size: 0.75rem;
}

.chats-list-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: stretch;
  list-style: none;
  background-color: inherit;
}

.remove-chat {
  background-color: transparent;
  color: white;
  font-size: 15px;
}

.sidebar ul li {
  background-color: inherit;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;
  font-size: 0.75rem;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  background-color: inherit;
}

.sidebar ul li a button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: auto;
  aspect-ratio: 1/1;
  width: 24px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 6px;
}

.sidebar ul li a button:disabled svg {
  animation: spin 500ms forwards infinite linear;
}

.sidebar ul li a:hover {
  filter: brightness(1.25);
}

.main-chat-wrapper {
  display: flex;
  flex-flow: column;
  align-self: center;
  max-width: 800px;
  width: 100%;
  height: 100%;
  padding: 32px 0;
  margin: auto;
  gap: 8px;
}

.main-chat-wrapper ul {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 8px;
  flex: 1;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline: 20px;
}

.main-chat-wrapper ul li {
  display: flex;
  color: white;
}

.main-chat-wrapper form {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  padding-inline: 20px;
}

.main-chat-wrapper form .input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #9eb293;
  background-color: #333;
}

.main-chat-wrapper form .input-wrapper input {
  display: flex;
  border: none;
  flex: 1;
  padding: 8px 16px;
  height: 100%;
  background-color: #333;
  color: white;
}

.main-chat-wrapper form .input-wrapper input:focus-visible {
  border: none;
  outline: none;
}

.main-chat-wrapper form .input-wrapper .form-button:nth-of-type(2) svg {
  transform: rotate(90deg);
}

.form-button {
  background-color: transparent;
  padding: 12px;
  filter: invert(1);
}

.message {
  display: flex;
  align-items: flex-end;
  max-width: 400px;
  min-width: 200px;
  position: relative;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #55ff00;
  font-size: 0.875rem;
}

.message.me {
  border-bottom-right-radius: 0;
  background-color: #181818;
  margin-right: 8px;
  margin-left: auto;
}

.message.me span {
  overflow: overlay;
  text-align: end;
}

.message.bot {
  align-items: flex-start;
  border-bottom-left-radius: 0;
  background-color: #3a3e39;
  margin-right: auto;
  margin-left: 8px;
}

.message.bot span {
  text-align: start;
}

.message.bot > svg {
  fill: #ffffff80;
  margin-top: 2px;
  margin-right: 8px;
}

.message.me .state {
  right: -24px;
}

.message.bot .state {
  left: -24px;
}

.robot-icon {
  display: flex;
  font-size: 18px;
  width: 20px;
  margin-right: 10px;
}

.message .state {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  padding: 4px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: auto;
  background-color: inherit;
}

.message .state.sending svg {
  animation: spin 500ms forwards infinite linear;
}

.message .state svg {
  font-size: 10px;
}

.message.audio {
  flex-flow: column-reverse;
  gap: 4px;
}

.transcription-label {
  opacity: 0.75;
}


.form-button.recording {
  background-color: #e74c3c; 
  color: #fff;
  padding: 5px 18px;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
