.main-page {
    background-color: #1c1c1c;
  }
  
  form.login-form {
    display: flex;
    flex-flow: column;
    gap: 8px;
  
    margin: auto;
    padding-bottom: 20vh;
  
    color: white;
  }
  
  form.login-form h3 {
    font-size: 2rem;
  }

  form.login-form label {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 4px;
  
    font-size: 1.25rem;
  
    text-align: start;
  }
  
  form.login-form input {
    background: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #4F4F4F;
  }
  


  form.login-form button {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  margin-top: 8px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
form.login-form button:hover {
  color: #752021;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}